{% extends "base.html" %}

{% block main %}
<section>
  <h1>Error 500, Who ate the cable? We are workig on it and we'll be back soon. Check out our webpage later...</h1>
</section>
<div class="row gx-5 align-items-center justify-content-around">
  <div class="col align-self-center p-3">
      <div class="container text-center">
            <span class="animate-on-scroll">
                <img src="../../static/images/error500.webp" alt="404, Page not found image of a astronaut lost in space">
            </span>
      </div>
      <div class="col align-self-center p-5">
        <div class="container text-center">
          <span class="animate-on-scroll">
              <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
            </span>
        </div>
      </div>
    </div>
</div>
{% endblock %}