{% extends "base.html" %}

{% block main %}
<section>
  <div class="toursbox">
              {% for id, item in tours.items() %}
              <div class="card" style="width: 18rem;">
                  <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.name }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p><strong>Price:</strong> €{{ item.price }}</p>
                    <p><strong>Available seats:</strong> {{ item.amount }}</p>
                    <a href="#" class="btn btn-primary" type="submit">Go somewhere</a>
                  </div>
              </div>
              {% endfor %}
          </div>
</section>
{% endblock %}