{% extends "base.html" %}

{% block main %}
      <h2>Book your next experience with us</h2>
      <p>
        We offer the best photo tours in town with local photographer and artists who will show you the best spots in town.
        Elevate your photobook with us by booking right now.
      </p>
      <ul>
        <li>
          <strong>Phone:</strong> (000) 123-456789
        </li>
        <li>
          <strong>Email:</strong> casitasedona@example.com
        </li>
        <li>
          <strong>Address:</strong> 123 Main Street, Sedona, AZ 86336
        </li>
      </ul>
{% endblock %}