{% extends "base.html" %}

{% block main %}
<section>
    <h1>Contact us</h1>
</section>
    <div class="row gx-5 align-items-center">
        <div class="col-md-6 lg-6">
            <div class="container text-center">
                <h2>A question, feedback on your experience, we'd love to hear from you.</h2>
            </div>
        </div>
        <div class="col-md-6 lg-6">
            <div class="container text-center">
                    <div class="contact-form-container">
                    <form id="contactForm" novalidate>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="contactName" 
                                    name="name" 
                                    placeholder="Your Name" required>
                            <span class="error-message" id="contactNameError"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="contactEmail" 
                                    name="email" 
                                    placeholder="Your Email" required>
                            <span class="error-message" id="contactEmailError"></span>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="tel" id="contactPhone" 
                                    name="phone" 
                                    placeholder="Your Phone Number" required>
                            <span class="error-message" id="contactPhoneError"></span>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" 
                                        name="contactMessage" 
                                        placeholder="Your Message" 
                                        rows="5" required></textarea>
                            <span class="error-message" 
                                    id="contactMessageError"></span>
                        </div>
                        <button type="submit" 
                                class="submit-button">
                            Send Message
                        </button>
                    </form>
                </div>
                </div>
            </div>
    </div>
{% endblock %}
