{% extends "base.html" %}

{% block main %}
<section>
      <h1>Discover Berlin with us</h1>
</section>
  <section>
        <!-- Container for the image gallery -->
      <div class="container-slideshow-main">
        <!-- Slideshow container -->
        <div class="mySlides">
          <div class="numbertext">1 / 4</div>
            <img src="../static/images/alexanderPlatz.jpg" style="width:100%" alt="Statue of Martin Luther on AlexanderPlatz, Berlin"></img>
        </div>
        <div class="mySlides">
          <div class="numbertext">2 / 4</div>
            <img src="../static/images/berlin-photoshoot2.jpg" style="width:100%" alt="We can see the Port of Nice, the sea is moving by the strong wind, we can see waves, this picture has been taken from the Castel in Nice, France"></img>
        </div>
        <div class="mySlides">
          <div class="numbertext">3 / 4</div>
            <img src="../static/images/berlin-photoshoot3.jpg" style="width:100%" alt="Here is Nice main street Jean Medecin, we can see a tramway moving and one of the first mall built in Nice, Nice"></img>
        </div>
        <div class="mySlides">
          <div class="numbertext">4 / 4</div>
            <img src="../static/images/berlin-photoshoot4.jpg" style="width:100%" alt="Oranges and apple captured on the Liberation Market, Nice, France"></img>
        </div>
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
  </section>
  <section>
    <h1 class="animate-on-scroll">Photography Tours for All Skill Levels</h1>
  </section>
  <section>
    <div class="row justify-content-around">
      <div class="col sm-12 lg-4 p-5">
        <span class="animate-on-scroll">
          Welcome to your next adventure in Berlin, part photography workshop, part city tour,
          and all about creativity! Whether you're picking up a camera for the first time or
          looking to sharpen your eye, our tours offer a relaxed, hands-on way to learn the
          basics of photography while exploring the diverse and dynamic city of Berlin.
        </span>
      </div>
      <div class="col sm-12 lg-4 p-5">
        <span class="animate-on-scroll">
          From iconic landmarks to hidden corners,
          each tour is designed to help you see the city, and your camera in a whole new light. 
          Bring your DSLR, phone, point-and-shoot, or anything in between. We believe great photos come 
          from great moments, not just fancy gear.
        </span>
      </div>
    </div>
  </section>
  <section>
    <span class="animate-on-scroll">
      <div class="card" style="width: 18rem;">
        <img src="../static/images/checkoureventmain.png" class="card-img-top" alt="Check our events">
        <div class="card-body">
          <h5 class="card-title">What's new?</h5>
          <p class="card-text">Join us for an unforgettable photo tour where every snapshot tells a story!</p>
          <a href="{{ url_for('show_tours') }}" class="btn btn-primary">Check our tours</a>
        </div>
      </div>
    </span>
  </section>
{% endblock %}
