{% extends "base.html" %}

{% block main %}
<section>
    <h1>Complete your booking</h1>
</section>
<div class="row gx-5 align-items-center justify-content-around">
    <div class="col-md-6 lg-6 align-self-center">
        <div class="container text-center">
            <h1>Enter your details: </h1>        </div>
    </div>
    <div class="col-md-6 lg-6 align-self-center">
        <div class="container text-center">
            <div class="contact-form-container">
                <form id="orderForm" method="post" enctype="multipart/form-data" action="/submit" novalidate>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="orderName" 
                            name="name" 
                            placeholder="Your Name" required>
                        <span class="error-message" id="orderNameError"></span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="orderEmail" 
                            name="email" 
                            placeholder="Your Email" required>
                        <span class="error-message" id="orderEmailError"></span>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" id="orderPhone" 
                            name="phone" 
                            placeholder="Your Phone Number" required>
                        <span class="error-message" id="orderPhoneError"></span>
                    </div>
                    <button type="submit" 
                            class="submit-button"
                            value="submit">
                        Book Now
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
